.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-color:  beige;;
}
.main_div
{
  display: flex;
    justify-content: center;
    background-color:  beige;
    align-items: center;
text-align: center;
width: 100%;
}
h1{
  color: white;
  background-color: #5286ee;
 background: transparent;
}
input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  width: 60%;
  border-bottom: 2px solid rgb(67, 65, 65);
  outline: none;
  background: transparent;
}
.but {
  width: 15%;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-color: aliceblue;
  color: brown;
  font-size: 35px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}
.btmbtn{
  margin-right: 3px;
  width: 23px;
  height: 31px;
  border: none;
  border-radius: 50%;
  background-color: crimson;
    color: cornsilk;
    font-size: 40px;
}
.xyz{
  display: flex;
}
button:hover{
  background-color: rgb(147, 245, 147);
}
ol{
  margin-top: 30px;
}
ol li{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #3e3e3f;
  text-transform: capitalize;
}
.center_div{
  box-shadow: 2px 2px 2px 10px;
  margin-top: 50px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #90ade7;
  height: 450px;
  width: 25%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
